[submodule "tdlib"]
	path = tdlib
	url = https://github.com/tgwrist/tdlib
[submodule "app/jni/third_party/webrtc"]
	path = app/jni/third_party/webrtc
	url = https://github.com/TGWrist/webrtc
[submodule "app/thirdparty/androidx-media"]
	path = app/thirdparty/androidx-media
	url = https://github.com/androidx/media
